
{% extends 'base.html' %}

{% block title %} Log In {% endblock %}

{% block header %}
    <h1 class="text-success fw-lighter fs-1  pb-3" id="services">Welcome Back</h1>
    <h5 class="text-success fw-lighter fs-5 border-bottom border-success-subtle pb-5"> Log In</h5>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mb-5 border border-white ps-5">
                <div class="card-body">
                    <form action="" method="post">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
