<nav class="navbar navbar-dark bg-success-subtle fixed-top">
    <div class="container-fluid p-3 justify-content-center">
      <a class="navbar-brand fs-1 fw-lighter text-success me-5" href="#">KLASSY BRAIDS</a>
      <button class="navbar-toggler bg-success " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar " aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-success" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title fs-2 m-3 fw-lighter" id="offcanvasDarkNavbarLabel ">KLASSY BRAIDS</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active ms-3 fs-5" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-3 fs-5" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 ms-3" href="#">Login</a>
              </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
