
  <nav class="navbar navbar-expand-lg bg-success-subtle sticky-top">
    <div class="container-fluid p-3 justify-content-center">
      <a a class="navbar-brand fs-1 fw-lighter text-light me-5 ms-5" href="/" id="header-title">klassy braids</a>
      <button class="navbar-toggler bg-success btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active me-5 text-success fw-lighter" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-5 text-success fw-lighter" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-5 text-success fw-lighter" href="/locservices">Loc Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-5 text-success fw-lighter" href="/braidservices">Braiding Services</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-5 text-success fw-lighter" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-success fw-lighter" href="#">Sign Up</a></li>
              <li><a class="dropdown-item text-success fw-lighter" href="#">Log in</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
