{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1 class="text-success fw-lighter fs-1" id="services">Services</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <table class="table table-success table-striped" id="table">
                <thead>
                    <tr>
                      <th scope="col" class="fw-lighter">Service</th>
                      <th scope="col" class="fw-lighter">Price</th>
                      <th scope="col" class="fw-lighter">Description</th>
                      <th scope="col" class="fw-lighter">BOOK</th>
                    </tr>
                  </thead>
                <tbody class="">
                    <tr >
                    <td class="p-4 text-center fw-lighter">Mark</td>
                    <td class="p-4 text-center fw-lighter">Otto</td>
                    <td class="p-4">@mdo</td>
                    <td class="p-4 text-center fw-lighter"><button type="button" class="btn btn-outline-success bg-light p-2 fw-bold">BOOK IT</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
