{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block header %}
    <h1 class="text-success fw-lighter fs-1  pb-3" id="services"> Join My Clientele</h1>
    <h5 class="text-success fw-lighter fs-5 "> Sign Up</h5>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card mb-5 border border-success p-5">
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <h6 class="mb-4 text-center text-success">Already have an account? <a class="text-secondary fw-lighter " href="/login">Log In</a></h6>
                            {{ form.full_name.label (class="text-success") }}
                            {{ form.full_name(class="form-control border border-success-subtle mb-3") }}

                            {{ form.username.label (class="text-success") }}
                            {{ form.username(class="form-control border border-success-subtle mb-3") }}

                            {{ form.number.label (class="text-success") }}
                            {{ form.number(class="form-control border border-success-subtle mb-3", placeholder="000-000-0000") }}

                            {{ form.email.label (class="text-success") }}
                            {{ form.email(class="form-control border border-success-subtle mb-3") }}

                            {{ form.password.label (class="text-success") }}
                            {{ form.password(class="form-control border border-success-subtle mb-3") }}

                            {{ form.confirm_password.label (class="text-success") }}
                            {{ form.confirm_password(class="form-control border border-success-subtle mb-3") }}

                            {{ form.password.label (class="text-success") }}
                            {{ form.password(class="form-control border border-success-subtle mb-3") }}

                            <div class="row justify-content-center">
                                {{ form.submit(class="btn btn-success w-50 m-3 p-3 justify-content-center") }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
